body {
    margin: 0;
    padding: 0;
}

/* Começo Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #16578d;
    position: fixed;
    top: 0;
    z-index: 3;
}

/* Começo Container Logo */

header .container_logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container_logo a {
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

header .container_logo img {
    width: 68px;
    height: 68px;
    transition: .5s;
}

header .container_logo img:hover {
    transform: scale(1.1);
}

/* Fim Container Logo */

/* Começo Container Links */

header .container_links {
    width: 90%;
    display: flex;
}

header .nav_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 78%;
}

header .nav_2 {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    header .nav_1 {
        width: 70%;

    }
}
@media screen and (max-width: 1110px) {
    header .nav_1 {
        width: 60%;

    }
}
@media screen and (max-width: 1000px) {
    header .nav_1 {
        display: none;
    }

    header .nav_2 {
        display: flex;
        z-index: 4;
    }

    header .container_links {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    header {
        width: 100vw;
    }
    
    header .container_logo {
        display: none;
    }

    header .container_links {
        width: 95%;
        margin-left: 1rem;
        justify-content: space-between;
    }
}

@media screen and (max-width: 610px) {
    header .nav_2 {
        width: 50px;
    }
    
    header .nav_2 #buttonMenu_dropdown {
        width: 50px;
    }
}

header .nav_1 span {
    display: flex;
    align-items: center;
    margin: .05rem;
    height: 100%;
    padding: 0 1rem;
    transition: .5s;
    border-radius: 1rem;
}

header .nav_1 span:hover {
    background-color: #08365c9c;
    transform: scale(1.1);
}

header .nav_1 a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .nav_2 #buttonMenu_dropdown {
    cursor: pointer;
    padding: .5rem;
    width: 150px;
    height: 100%;
    padding: .5rem;
    transition: .2s;
}

header .nav_2 #buttonMenu_dropdown:hover {
    transform: scale(1.1);
}

header .nav_2 span {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .nav_2 #menu_dropdown {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 1;
}

header .nav_2 #menu_dropdown span {
    background-color: #16578d;
    padding: .5rem;
    transition: .1s;
}

header .nav_2 #menu_dropdown span:hover {
    background-color: #104068;
    transform: scale(1.03);
}

header .nav_2 #menu_dropdown span a {
    text-decoration: none;
    color: #fff;
}

/* .nav_2:hover #menu_dropdown {
    display: block;
} */

header .buttons {
    display: flex;
    align-items: center;
}

header button {
    padding: .5rem 1rem;
    margin: 0 1rem;
    border-radius: .5rem;
    border: transparent;
    font-weight: bold;
    transition: .5s;
}

header button:hover {
    transform: scale(1.1);
}
/* Código refatorado e excluído, mantido para histórico
header .cadastro a {
    text-decoration: none;
    color: #000000;
} */

header .logar {
    background-color: #f48924;
}

header .logar a {
    text-decoration: none;
    color: #ffffff;
}

/* Fim Container Links */

/* Fim Header */

/* Começo Main */

main {
    margin-top: 70px;
    display: flex;
    width: 100%;
    height: 800px;
}

main .overlayMain {
    content: '';
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

main .boxSides {
    background: url(../Assets/interior\ moderno\ do\ edifício\ de\ escritórios.\ Conceito\ de\ renderização\ 3D.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* text-shadow: 3px 3px 1px #000; */
}

main .boxSides .sides {
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    z-index: 2;
}

main .boxSides .side1 {
    flex-direction: column;
    text-align: center;
}

main .boxSides .side1 .side1One {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

main .boxSides .side1 .boxSide1Two {
    border-top: #ffffff 3px solid;
    border-bottom: #ffffff 3px solid;
    width: 19rem;
    padding: 1rem 0;
    align-self: center;
    margin-bottom: 2rem;
}

main .boxSides .side1 .side1Two {
    color: #f48924;
    font-size: 4rem;
    text-shadow: 0 6px 5px #3a414e;
}

main .boxSides .side1 .side1Three {
    color: white;
    font-size: 2rem;
    font-style: italic;
    width: 70%;
    margin: auto;
}

main .boxSides .side1 .side1Four {
    color: #f48924;
    font-size: 2rem;
}

main .boxSides .side2 {
    flex-direction: column;
    text-align: center;
}

main .boxSides .side2 .side2One {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

main .boxSides .side2 .boxSide2Two {
    border-top: #ffffff 3px solid;
    border-bottom: #ffffff 3px solid;
    width: 10rem;
    padding: 1rem 0;
    align-self: center;
}

main .boxSides .side2 .side2Two {
    color: #f48924;
    font-size: 4rem;
    text-shadow: 0 6px 5px #3a414e;
}

@media screen and (max-width: 800px) {
    main .boxSides {
        flex-direction: column;
        justify-content: center;
    }

    main .boxSides .sides {
        width: 95%;
        margin-top: .5rem;
        margin-bottom: 5rem;
    }

    main .boxSides .sides .side1One {
        font-size: 2rem;
    }

    main .boxSides .sides .side1Two,
    main .boxSides .sides .side2Two {
        font-size: 3rem;
    }

    main .boxSides .sides .side1Three,
    main .boxSides .sides .side1Four,
    main .boxSides .sides .side2One {
        font-size: 1.5rem;
    }
}

/* Fim Main */

/* Começo Section Quem Somos */

.quemSomos {
    background-color: #EBEBEB;
    width: 100%;
    height: 700px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2rem;
}

.quemSomos .tittleQuemSomos {
    text-align: center;
}

.quemSomos h2 {
    color: #16578d;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    display: inline-block;
    /* font-family: monospace; */
}

.quemSomos hr {
    width: 65%;
    height: 3px;
    background-color: #16578d;
    border-radius: 2px;
    border: transparent;
    margin-bottom: 2rem;
}

.quemSomos .containerCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 500px;
}

.quemSomos .cards {
    background-color: #ffffff;
    width: 250px;
    height: 220px;
    margin: 0.2rem 3rem;
    border-radius: 0.5rem;
    border: 1px solid #16578d;
}

.quemSomos .cards .imgCards {
    width: 100%;
    display: flex; 
    justify-content: center;
}

.quemSomos .cards img {
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
    margin-top: 5px;
}

.quemSomos .cards .cardImg3 {
    width: 80px;
    height: 80px;
    margin: 10px 0 15px 0;
}

.quemSomos .cards hr {
    width: 70%;
    height: 1.2px;
    background-color: rgba(197, 197, 197, 0.199);
    color: rgba(197, 197, 197, 0.199);
    border: 1px solid;
}

.quemSomos .cards .textCards {
    text-align: center;
    margin: 1rem;
    font-size: .8rem;
    font-weight: bold;
}

.quemSomos .cards .boldText {
    color: #F59032;
}

@media screen and (max-width: 884px) {
    .quemSomos {
        height: 1050px;
    }
}

@media screen and (max-width: 450px) {
    .quemSomos .cards .textCards {
        font-size: .7rem;
    }
    
    .quemSomos .cards .cardImg3 {
        width: 65px;
        height: 65px;
    }
}

/* Fim Section Quem Somos */

/* Começo Section Nossos Serviços */

.nossosServicos {
    padding-top: 2rem;
    height: 1400px;
    background-color: #16578D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nossosServicos .tittleNossosServicos {
    text-align: center;
}

.nossosServicos h2 {
    color: #fff;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: 2rem;
    text-shadow: 0px 2px 10px #0a273f;
}

.nossosServicos hr {
    width: 65%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    border: transparent;
    margin-bottom: 2rem;
}

.nossosServicos .containerServicos {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nossosServicos .containersServico {
    margin: auto;
    width: 800px;
    display: flex;
}

@media screen and (max-width: 800px) {
    .nossosServicos {
        height: 1750px;
    }

    .nossosServicos .containersServico {
        flex-direction: column;
        align-items: center;
    }

    .nossosServicos .containerInstalacao {
        display: flex;
        flex-direction: column-reverse;
    }
}

.nossosServicos .containersServico .imgServicos {
    width: 355px;
    height: 348px;
    margin: 25px;
    border-radius: 1rem;
    box-shadow: 4px 4px 5px 1px #0000006e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.nossosServicos .containersServico .imgServicos .overlayServicos {
    content: '';
    position: absolute;
    width: 350px;
    height: 348px;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.nossosServicos .containersServico .imgServicos span {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    z-index: 2;
}

.nossosServicos .containersServico .imgManutencao {
    background: url(../Assets/manutencao.png);
    background-position: center;
    background-size: cover;
}

.nossosServicos .containersServico .imgInstalacao {
    background: url(../Assets/sensorFundo.png);
    background-position: left;
    background-size: cover;
}

.nossosServicos .containersServico .imgMonitoramento {
    background: url(../Assets/monitoramento.png);
    background-position: center;
    background-size: cover;
}

.nossosServicos .containersServico .textServicos {
    width: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin: 0 25px;
    font-size: 1.5rem;
}

.nossosServicos .containersServico .textServicos .containerText {
    width: 85%;
}

.nossosServicos .containerServicos .containerText .boldText {
    color: #f48924;
}

/* Fim Section Nossos Serviços */

/* Começo Entre em Contato */

.entreContato {
    width: 100%;
    height: 650px;
    background-color: #EBEBEB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entreContato .cadastrar {
    background-color: #F48924;
    height: 120px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.entreContato .cadastrar a {
    color: #16578D;
    text-decoration: none;
    background-color: #ffffff;
    padding: .5rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1rem;
    box-shadow: 0 4px 4px 0 #0000003f;
    transition: .5s;
}

.entreContato .cadastrar a:hover {
    transform: scale(1.1);
}

.entreContato .contato {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entreContato .contato .containerContato {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px .5px #9c9c9c33;
    border-radius: .5rem;
}

.entreContato .contato .tittleContato {
    text-align: center;
}

.entreContato .contato h2 {
    color: #16578D;
    margin-bottom: 0;
    font-size: 2rem;
}

.entreContato .contato hr {
    border: 1px solid #16578D;
    background-color: #16578D;
    width: 12%;
    height: 1px;
    margin-bottom: 5rem;
}

.entreContato .contato .redesMensagem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #16578D;
    font-weight: bold;
}

.entreContato .contato .redes {
    width: 200px;
    text-align: center;
}

.entreContato .contato .redes .containerRedes {
    width: 95%;
}

.entreContato .contato .redes .icons {
    margin-top: 2rem;
}

.entreContato .contato .redes a {
    text-decoration: none;
    margin: 0 1rem;
}

.entreContato .contato .redes img {
    transition: .5s;
}

.entreContato .contato .redes img:hover {
    transform: scale(1.1);
}

.entreContato .contato .mensagem {
    width: 60%;
}

.entreContato .contato .mensagem input {
    width: 95%;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    border: transparent;
    box-shadow: 5px 5px 5px .5px #9c9c9c33;
    font-size: 1rem;
}

.entreContato .contato .mensagem .container_doisInput {
    display: flex;
    justify-content: space-between;
    width: 96.5%;
}

.entreContato .contato .mensagem .container_doisInput input {
    width: 45%;
}

.entreContato .contato .mensagem .input_button {
    width: 5rem;
    background-color: #F48924;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.entreContato .contato .mensagem .input_button:hover {
    transform: scale(1.1);
}

.entreContato .contato .mensagem textarea {
    width: 95%;
    height: 100px;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    border: transparent;
    box-shadow: 5px 5px 5px .5px #9c9c9c33;
    font-size: 1rem;
}

/* Fim Entre em Contato */