* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Começo Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #16578d;
    position: fixed;
    top: 0;
    z-index: 3;
}

/* Começo Container Logo */

header .container_logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container_logo a {
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

header .container_logo img {
    width: 68px;
    height: 68px;
    transition: .5s;
}

/* Fim Container Logo */

/* Começo Container Links */

header .container_links {
    width: 90%;
    display: flex;
}

header .nav_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 78%;
}

header .nav_2 {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    header .nav_1 {
        width: 70%;

    }
}
@media screen and (max-width: 1110px) {
    header .nav_1 {
        width: 60%;

    }
}
@media screen and (max-width: 1000px) {
    header .nav_1 {
        display: none;
    }

    header .nav_2 {
        display: flex;
    }

    header .container_links {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    header .container_logo {
        display: none;
    }

    header .container_links {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 610px) {
    header .nav_2 {
        width: 50px;
    }

    header .nav_2 #buttonMenu_dropdown {
        width: 50px;
    }
}

header .nav_1 span {
    display: flex;
    align-items: center;
    margin: .05rem;
    height: 100%;
    padding: 0 1rem;
    transition: .5s;
    border-radius: 1rem;
}

header .nav_1 span:hover {
    background-color: #08365c9c;
    transform: scale(1.1);
}

header .nav_1 a {
    text-decoration: none;
    color: #ffffff;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-size: 1.5rem;
}

header .nav_2 #buttonMenu_dropdown {
    cursor: pointer;
    padding: .5rem;
    width: 150px;
    height: 100%;
    padding: .5rem;
    transition: .2s;
}

header .nav_2 #buttonMenu_dropdown:hover {
    transform: scale(1.1);
}

header .nav_2 span {
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
    color: #fff;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}

header .nav_2 #menu_dropdown {
    display: none;
    position: absolute;
    top: 10%;
    margin-top: .8rem;
    z-index: 1;
}

header .nav_2 #menu_dropdown span {
    background-color: #16578d;
    padding: .5rem;
    transition: .1s;
}

header .nav_2 #menu_dropdown span:hover {
    background-color: #104068;
    transform: scale(1.03);
}

header .nav_2 #menu_dropdown span a {
    text-decoration: none;
    color: #fff;
}

/* .nav_2:hover #menu_dropdown {
    display: block;
} */

header .buttons {
    display: flex;
    align-items: center;
}

header .buttons a {
    background-color: #ffffff;
    padding: .75rem 3rem;
    margin: 0 1rem;
    border-radius: 1rem;
    font-weight: bold;
    transition: .5s;
    text-decoration: none;
    color: #16578d;
}

header .buttons a:hover {
    transform: scale(1.1);
}

/* Fim Container Links */

/* Fim Header */

main {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#secao-simulacao {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    height: 875px;
}

h1 {
    color: #16578D;
    border-bottom: solid 3px #16578D;
    padding-bottom: 0.7rem;
}

main img {
    width: 220px;
    height: 220px;
}

#caixa_informacoes {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
}

#caixa_selects {
    display: flex;
    align-items: center;
    gap: 2rem;
}

select {
    border: none;
    border-radius: 10px;
    padding: 5px 8px;
    width: 170px;
    cursor: pointer;
    box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.8);
    font-size: 15px;
    outline: none;
}

input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 8px;
    margin-top: 3px;
    box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.8);
    width: 170px;
    font-size: 15px;
}

label {
    font-weight: 700;
    font-size: 15px;
}

p {
    width: 50%;
    text-align: center;
    padding: 7px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #16578D;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-weight: 700;
}

.porcentagem_span {
    color: #F48924;
    font-size: 50px;
    font-weight: bold;
}

.descricao_caixa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main button {
    border: none;
    border-radius: 10px;
    background-color: #16578D;
    color: #ffffff;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

#secao_cards {
    background-color: #16578D;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    height: 875px;
}

.card {
    height: 300px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.8);
}

#entreContato {
    background-color: #ebebeb;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.8);
    color: #16578D;
}

#entreContato a {
    background-color: #F48924;
    padding: .5rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: #104068;
    transition: .5s;
}

#entreContato a:hover {
    background-color: #10406848;
}

.card_economizar {
    width: 75%;
    height: 300px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 0.8);
}

h2 {
    color: #16578D;
    text-align: center;
}

.teste {
    display: flex;
    gap: 2rem;
}

.texto_card {
    font-size: 50px;
    font-weight: bold;
    margin: auto 0;
    text-align: center;
}

#sem_ecolight_span {
    color: red;
}

#com_ecolight_span {
    color: #F48924;
}

#economia_span {
    color: green;
}
