body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EBEBEB;
}

/* Começo Header */

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #16578d;
    position: fixed;
    top: 0;
    z-index: 3;
}

/* Começo Container Logo */

header .container_logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container_logo a {
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

header .container_logo img {
    width: 68px;
    height: 68px;
    transition: .5s;
}

/* Fim Container Logo */

/* Começo Container Title */

header .container_title {
    color: #ffffff;
}

/* Fim Container Tittle */

/* Começo Container Links */

/* header .container_links {
    height: 90%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container_links a {
    display: flex;
    align-items: center;
    margin: .05rem;
    height: 50%;
    padding: 0 1rem;
    transition: .5s;
    border-radius: 1rem;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .container_links a:hover {
    background-color: #08365c9c;
    transform: scale(1.1);
} 
*/

/* Fim Container Link */

/* Começo Container Perfil */

header .container_perfil {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header .container_perfil span {
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
} */

header .container_perfil img {
    width: 68px;
    height: 68px;
    transition: .5s;
}

header .container_perfil .menuHamburguer {
    margin: 0 1.5rem;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

header .container_perfil #dropdownPerfil {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90px;
    z-index: 1;
}

header .container_perfil #dropdownPerfil span {
    width: 100%;
    display: flex;
    background-color: #16578d;
}

header .container_perfil #dropdownPerfil span a {
    width: 100%;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}

header .container_perfil #dropdownPerfil span a:hover {
    background-color: #60b1d1b2;
}

header .container_perfil #dropdownPerfil span .exit:hover {
    background-color: #7c0707e1;
}

/* Fim Container Links */

/* Fim Header */

main {
    margin-top: 70px;
    height: 875px;
    display: flex;
    flex-direction: row;
}

main .container_cadastro {
    height: 875px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

main .container_cadastro .visual {
    height: 875px;
    width: 35%;
    background-color: #16578d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .container_cadastro .visual p {
    color: #16578d;
}

main .container_cadastro .visual h2 {
    color: #ffffff;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    border-bottom: #ffffff solid 3px;
    margin-top: 3rem;
    width: 55%;
    text-align: center;
}

main .container_cadastro .visual img {
    height: 20rem;
}

main .container_cadastro .visual span {
    color: #16578d;
    background-color: #ffffff;
    padding: .8rem .5rem;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    border-radius: .8rem;
    font-weight: bold;
}

main .container_cadastro .visual a {
    text-decoration: none;
    color: #16578d;
}

main .container_cadastro .interacao {
    height: 875px;
    width: 65%;
    /* background-color: #686868; */
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container_cadastro .interacao .conteudo {
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin: 0 1rem;
}

main .container_cadastro .interacao .conteudo h2 {
    color: #16578d;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    width: 90%;
    text-align: center;
    margin-bottom: 3rem;
}

main .container_cadastro .interacao .conteudo label {
    align-self: flex-start;
    color: #16578d;
    font-weight: bold;
}

main .container_cadastro .interacao .conteudo input {
    width: 99%;
    height: 2.5rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 2px 2px 3px .5px rgba(97, 97, 97, 0.801);
    margin: .5rem;
}

main .container_cadastro .interacao .conteudo #div_mensagemEmail {
    color: #ff0000;
    align-self: flex-start;
    font-weight: bold;
}

main .container_cadastro .interacao .conteudo #div_mensagemSenha {
    color: #ff0000;
    align-self: flex-start;
    font-weight: bold;
}

main .container_cadastro .interacao .conteudo #div_mensagemRepetirSenha {
    color: #ff0000;
    align-self: flex-start;
    font-weight: bold;
}

main .container_cadastro .interacao .conteudo span {
    align-self: flex-start;
    color: #16578d;
}

main .container_cadastro .interacao .conteudo span a {
    text-decoration: none;
    color: #16578d;
    border-bottom: solid 1px #16578d;
    padding-bottom: .1rem;
}

main .container_cadastro .interacao .conteudo button {
    background-color: #16578d;
    color: #ffffff;
    border: none;
    padding: .5rem 4rem;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2.2rem;
    transition: 0.5s;
}

main .container_cadastro .interacao .conteudo button:hover {
    transform: scale(1.05);
}

main .container_cadastro .interacao .conteudo button:active {
    transform: scale(1.1);
}

@media screen and (max-width: 920px) {
    main .container_cadastro .visual {
        display: none;
    }

    main .container_cadastro .interacao {
        width: 100%;
    }
}